<html>
  <body>
    <h1>Edit book</h1>
    <form method="POST" action="/books/update" style="display: inline">
      <p>Title: {{book.title}}</p>
      <input type="hidden" value="{{book.title}}" name="oldtitle">
      <input type="text" value="{{book.title}}" name="newtitle">
      <input type="submit" value="Update">
    </form>

    <form method="POST" action="/books/delete" style="display: inline">
      <input type="hidden" value="{{book.title}}" name="title">
      <input type="submit" value="Delete">
    </form>

    <h1>Books</h1>
    <table>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
        {% for book in books %}
            <tr><td>{{book.title}}</td>
                <td><a href='/books/{{ book.title }}/edit' />Edit</td>
            </tr>
        {% endfor %}
    </table>
  </body>
</html>